<!--Page Template - unit info card preview-->
<div class="uic-main-sm">
    <div class="uic-header-row-sm">
        <div class="uic-name-sm" id="ucName">Unit Test name longly longoson</div>
        <div class="uic-points-sm" id="ucPoints">999</div>
    </div>
    <div class="uic-stat-row-label-sm">
        <div class="uic-stat-row-icon-sm"><label id="ucSize">9</label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucMove">0</label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucEvade">1</label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucArmor">5</label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucStruc">7</label></div>
    </div>
    <div class="uic-stat-attack-row-sm">
        <div class="uic-stat-row-icon-sm"><label id="ucMel">99</label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucRange">999</label></div>
        <div class="uic-stat-row-icon-sm"><label id="ucDist">999"</label></div>
    </div>
    <div class="uic-tag-row-sm"></div>
    <div class="uic-tag-row-sm">
        <ul id="ucKeywords" class="list--unstyled uic-keyword-word-sm txt--left"></ul>
    </div>
</div>