<!--Page Template - unit info card preview-->
<div class="uic-main">
    <div class="uic-header-row">
        <div id="ucName">Unit Test name longly longoson</div>
        <div id="ucPoints">999</div>
    </div>
    <div class="uic-stat-row-label">
        <div class="uic-stat-row-icon"><label id="ucSize">9</label></div>
        <div class="uic-stat-row-icon"><label id="ucMove">0</label></div>
        <div class="uic-stat-row-icon"><label id="ucEvade">1</label></div>
        <div class="uic-stat-row-icon"><label id="ucArmor">5</label></div>
        <div class="uic-stat-row-icon"><label id="ucStruc">7</label></div>
    </div>
    <div class="uic-stat-attack-row">
        <div class="uic-stat-row-icon"><label id="ucMel">99</label></div>
        <div class="uic-stat-row-icon"></div>
        <div class="uic-stat-row-icon"><label id="ucRange">999</label></div>
        <div class="uic-stat-row-icon"><label id="ucDist">999"</label></div>
    </div>
    <div class="uic-tag-row">
        <ul id="ucKeywords" class="list--unstyled uic-keyword-word txt--left"></ul>
    </div>
</div>