<div class="container" id="tagWindow">
    <div class="row">
        <div class="col-s-12 col-12 col-l-12">
            <h4>Unit TAG Options</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-s-6 col-4 col-l-2">
            <div class="container">
                <div class="row">
                    <div class="col-s-11 col-11 col-l-11"><h3> TAG Rules</h3></div>
                </div>
                <div class="row">
                    <div class="offset-s-2 offset-1 offset-l-1 col-s-8 col-6 col-l-4">
                        <ul>
                            <li>Hionk</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-s-6 col-8 col-l-9">
            <div class="container">
                <div class="row">
                    <div class="col-s-12 col-12 col-l-12"><h3> TAG Desc</h3></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-s-3 offset-2 offset-1 col-s-2 col-1 col-l-1">
            <button id="tagWindowSave" type="button">Save</button>
        </div>
        <div class="offset-s-7 offset-6 offset-l-6 col-s-2 col-1 col-l-1">
            <button id="tagWindowClose" type="button">Close</button>
        </div>
    </div>
</div>