<div class="container" id="tagWindow">
    <input type="hidden" id="tagWindow_rowId"></input>
    <input type="hidden" id="tagWindow_tagBuffer"></input>
    <div class="row">
        <div class="col-s-12 col-12 col-l-12">
            <h4>Unit TAG Options</h4>
        </div>
    </div>
    <div class="row">
        <div id="tagRulesListPanel" class="col-s-4 col-3 col-l-2">
            <div class="container">
                <div class="row">
                    <div class="offset-s-2 offset-1 col-s-9 col-10 col-l-11 tagRulesListDiv ">
                        <table id="tagRulesListData">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Active</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-s-7 col-8 col-l-9">
            <div class="container">
                <div id="tagRulesDescPanel" class="row">
                    <div class="col-s-4 col-3 col-l-2">
                        Unit Base Total:<label id="tagWindow_baseCost"></label>
                    </div>
                    <div class="col-s-4 col-3 col-l-2">
                        TAG Total:<label id="tagWindow_tagCost" ></label>
                    </div>
                    <div class="col-s-4 col-3 col-l-2">
                        Complete Total:<label id="tagWindow_totalCost"></label>
                    </div>
                </div>
                <div id="tagRulesDescPanel">
                    <div class="row">
                        <div id="tagWindow_descTitle" class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1"></div>
                    </div>
                    <div class="row">
                        <div id="tagWindow_descText" class="offset-s-2 offset-1 offset-l-1 col-s-9 col-10 col-l-10"></div>
                    </div>
                    <div class="row row-fill-s row-fill row-fill-l">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-s-3 offset-2 offset-1 col-s-2 col-1 col-l-1">
            <button id="tagWindowSave" type="button">Save</button>
        </div>
        <div class="offset-s-7 offset-6 offset-l-6 col-s-2 col-1 col-l-1">
            <button id="tagWindowClose" type="button">Close</button>
        </div>
    </div>
</div>