<tr>
    <td><label id="name"></label></td>
    <td><label id="size"></label></td>
    <td><label id="move"></label></td>
    <td><label id="evade"></label></td>
    <td><label id="melee"></label></td>
    <td><label id="range"></label></td>
    <td><label id="dist"></label></td>
    <td><label id="armor"></label></td>
    <td><label id="struct"></label></td>
    <td><label id="tags"></label></td>
    <td><label id="points"></label></td>
    <td><button type="button" class="btn btn--green ui-icon-white"><span class="ui-icon ui-icon-triangle-1-e"></span></button></td>
</tr>