/*
    Dead-simple responsive css.
    primarily based on W3schools tutorial.
*/

@media (min-width: 601px){
    .container{
        max-width: 1140px;
    }
}

@media (min-width: 1140px){
    .container{
        max-width: 1600px;
    }
}

@media (min-width: 1601px){
    .container{
        max-width: 2000px;
    }
}

[class*="col-*"]{
    width: 99%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
@media only screen and (max-width:600px) {
    /* tablet */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25.0%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50.0%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100.0%;}
    
    .offset-1 { margin-left: 8.33%;}
    .offset-2 { margin-left: 16.66%;}
    .offset-3 { margin-left: 25.0%;}
    .offset-4 { margin-left: 33.33%;}
    .offset-5 { margin-left: 41.66%;}
    .offset-6 { margin-left: 50.0%;}
    .offset-7 { margin-left: 58.33%;}
    .offset-8 { margin-left: 66.66%;}
    .offset-9 { margin-left: 75%;}
    .offset-10 {margin-left: 83.33%;}
    .offset-11 {margin-left: 91.66%;}

    .row-fill-s{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        min-height: 48px;
    }
}

@media only screen and (min-width:601px) {
    /* tablet */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25.0%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50.0%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100.0%;}
    
    .offset-1 { margin-left: 8.33%;}
    .offset-2 { margin-left: 16.66%;}
    .offset-3 { margin-left: 25.0%;}
    .offset-4 { margin-left: 33.33%;}
    .offset-5 { margin-left: 41.66%;}
    .offset-6 { margin-left: 50.0%;}
    .offset-7 { margin-left: 58.33%;}
    .offset-8 { margin-left: 66.66%;}
    .offset-9 { margin-left: 75%;}
    .offset-10 {margin-left: 83.33%;}
    .offset-11 {margin-left: 91.66%;}

    .row-fill{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        min-height: 32px;
    }
}

@media only screen and (min-width:601px) {
    /* tablet */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25.0%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50.0%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100.0%;}
    
    .offset-l-1 { margin-left: 8.33%;}
    .offset-l-2 { margin-left: 16.66%;}
    .offset-l-3 { margin-left: 25.0%;}
    .offset-l-4 { margin-left: 33.33%;}
    .offset-l-5 { margin-left: 41.66%;}
    .offset-l-6 { margin-left: 50.0%;}
    .offset-l-7 { margin-left: 58.33%;}
    .offset-l-8 { margin-left: 66.66%;}
    .offset-l-9 { margin-left: 75%;}
    .offset-l-10 {margin-left: 83.33%;}
    .offset-l-11 {margin-left: 91.66%;}

    .row-fill-l{
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        min-height: 16px;
    }
}

.offset-center{
    margin: 0 auto;
    max-width: 700px;
}

.no-pad{
    padding-left: 0%;
    padding-right: 0%;
}

body{
    margin: 0;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row-nomargin{
    display: flex;
    flex-wrap: inherit;
}

.row::after{
    content:'';
    clear:both;
    display: table;
}

.row-center{
    position: relative;
    text-align: center;
}

.offset-center{
    margin: 0 auto;
    max-width: 700px;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.overflow{
    overflow-x: auto;
}

