/*
    All the style layering that goes on top of base_responsive.
*/


/*
    Layout: navbar
*/
.navbar{
    background-color: darkgray;
}

/*
    Page: UnitBuilder
*/
#unitTable{
    border-collapse: collapse;
    border-spacing: 8ex;
    width: 100%;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}

#unitTable tr:nth-child(even){
    background-color: #f2f2f2
}

#unitTable tr>td{
    text-align: center;
}

#unitTable tr>td>input[type="number"]{
    width: 50%;
    border-width: 1px;
}
#unitTable tr>td>input[type="text"]{
    width: 90%;
    border-width: 1px;
}
#unitTable tr>td>label{
    width: 99%;
    text-align: center;
}

.unitTableHead{
    background-color: lightgray;
}
.unitTableHead>th{
    word-break: keep-all;
}