/*
    All the style layering that goes on top of base_responsive.
*/


/*
    Layout: navbar
*/
.navbar{
    background-color: darkgray;
    min-height: 48px;
}

/*
    Page: UnitBuilder
*/
#unitTable{
    border-collapse: collapse;
    border-spacing: 8ex;
    border: 1px solid #ddd;
}

#unitTable tr:nth-child(even){
    background-color: #f2f2f2
}

#unitTable tr>td{
    text-align: center;
}

#unitTable tr>td>input[type="number"]{
    width: 50%;
    border-width: 1px;
}
#unitTable tr>td>input[type="text"]{
    width: 90%;
    border-width: 1px;
}
#unitTable tr>td>label{
    width: 99%;
    text-align: center;
}

.unitTableHead{
    background-color: lightgray;
}
.unitTableHead>th{
    word-break: keep-all;
}

/*
    Page: UnitBuilder
        + tagWindow
*/
#tagWindow{
    background-color: lightgrey;
    opacity:  100%;
    border-color: rgb(51, 51, 51);
    border-radius: 4px;
    border-style: solid;
    z-index: 100;
    position: fixed;
    width: 99.5%;
    height: auto;
    display: none;
    top: 0;
    left: 0;
}
#tagRulesListPanel{
    background-color: white;
    border-color: rgb(116, 115, 115);
    border-radius: 4px;
    border-style: solid;
}

#tagRulesDescPanel{
    background-color: white;
    border-color: rgb(116, 115, 115);
    border-radius: 4px;
    border-style: solid;
}

#tagWindow_descWarn{
    color: chocolate;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.tagRulesListDiv{
    max-height: 33em;
    overflow-y: scroll;
}

#tagRulesListData>thead{
    background-color: lightblue;
}

.tagRuleLineHover:hover{
    border-color: blue;
    border-radius: 4px;
    border-style: solid;
    cursor: pointer;
}


.tagRuleLineSelect{
    background-color: lightsalmon;
}


.tagRuleLineActive{
    background-color: lightgreen;
}

.tagRuleLineDisable{
    background-color: lightcoral;
}

.tagRuleLineSelect{
    border-color: lightblue;
    border-radius: 6px;
    border-style: solid;
}


/*
    Page: TagLib
        + tagLibView
*/
.tagButtonTable{
    table-layout: auto;
}
/*debug*/
.tagButtonTable td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#tagView{
    background-color: lightgrey;
    opacity:  100%;
    border-color: rgb(51, 51, 51);
    border-radius: 4px;
    border-style: solid;
    z-index: 100;
    width: 99.5%;
    height: auto;
    display: none;
    top: 0;
    left: 0;
}

.tagViewButton{
    text-align: center;
    align-self: center;
}

/*
    UTIL
*/
.list-clean{
    list-style-type: none;
    margin: 0;
    padding: 2px;
}
.list-clean > li{
    margin-bottom: 5px;
}