<div class="container" id="tagView">
    <div class="row">
        <div class="col-s-6 col-6 col-l-6 offset-s-5 offset-4 offset-l-3">
            <h4>Core TAG</h4>
        </div>
    </div>
    <div class="row">
        <div  class="col-s-12 col-12 col-l-12">
            <div class="container" id="tagRulesDescPanel">
                <div class="row">
                    <div id="tagWindow_descTitle" class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1"></div>
                </div>
                <div class="row">
                    <div id="tagWindow_descText" class="offset-s-2 offset-1 offset-l-1 col-s-9 col-10 col-l-10"></div>
                </div>
                <div class="row row-fill-s row-fill row-fill-l">
                </div>
                <div class="row">
                    <div class="col-s-2 col-1 col-l-1 offset-s-2 offset-1 offset-l-1">
                        <b>Cost</b>
                    </div>
                    <div class="col-s-6 col-8 col-l-8">
                        <label id="tagWindow_equation"></label>
                    </div>
                </div>
                <div class="row row-fill-s row-fill row-fill-l">
                </div>
                <div class="row">
                    <div class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1">
                        <i>requirements</i>
                    </div>
                </div>
                <div class="row">
                    <div id="tagWindow_descWarn" class="col-s-10 col-10 col-l-10 "></div>
                </div>
                <div class="row row-fill-s row-fill row-fill-l">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-s-2 offset-1 offset-l-1 col-s-2 col-1 col-l-1">
            <button id="tagViewClose" type="button">Close</button>
        </div>
    </div>
</div>