<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>LANDWAR GDK v0.4.0</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../../../../css/base_responsive.css"/>
    <link rel="stylesheet" href="../../../../css/styles.css"/>
    <link rel="stylesheet" href="../../../../css/pages/rulebook/rulebook.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1">
                <h2>LANDWAR</h2> <h4>Basic Scenarios</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-s-11 col-11 col-l-11 offset-s-1 offset-1 offset-l-1">
                <label style="text-align:center;">Contents</label>
            </div>
        </div>
        <div class="row">
            <div class="col-s-11 col-11 col-l-11 offset-s-1 offset-1 offset-l-1">
                <p>Contained here are some rules for playing basic scenarios of <i>LANDWAR</i> regardless of the armies involved. Each Scenario is built of a standard template that indicates how long the scenario should last, force size, win conditions, etc.</p>
                <p>They are built this way to help you make custom scenarios more easily, and to quickly refer to any information during game play.</p>
            </div>
        </div>
        <!-- Common Terms ===========================================================================================-->
        <div class="row">
            <div class="col-s-12 col-12 col-l-12">
                <div class="container sectionPanel">
                    <div class="row">
                        <div class="col-s-8 col-8 col-l-8 offset-s-1 offset-1">
                            <h3>Scenario template</h3>
                            <p>Definitions of some common terms and ideas for all scenarios in this document.</p>
                            <p>For specific rules, go to section after the scenario list below.</p>
                        </div>
                        <div class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1">
                            <ul class="sectionOrderList">
                                <li><b>Game Length:</b> How many turns, or no limit.</li>
                                <li><b>Board Size:</b> Game is balanced around a <b>3'x3'</b> square.</li>
                                <li><b>Army Size:</b> suggested force size for players.</li>
                                <li><b>Win Condition:</b> How to determine the scenario winner.</li>
                                <li><b>Deployment Style:</b> how Player Armies are placed onto the play area, shape of area, etc.</li>
                                <li><b>Board Edge:</b> type of board edge rules to be used.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===============================================================================================================-->
        
        <!-- STANDARD BATTLE ===========================================================================================-->
        <div class="row">
            <div class="col-s-12 col-12 col-l-12">
                <div class="container sectionPanel">
                    <div class="row">
                        <div class="col-s-6 col-6 col-l-6 offset-s-1 offset-1">
                            <h3>Contact Battle</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-8 col-8 col-l-8 offset-s-2 offset-2 offset-l-2">
                            <p>Two opposing armies have crashed into each other in this sector. Each force aims to dominate the sector in preparation for larger operations.
                                Victory goes to the side left standing or on the field of battle!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-8 col-8 col-l-8 offset-s-2 offset-2 offset-l-2">
                            <ul class="sectionOrderList">
                                <li><b>Game Length:</b> both players choose 8, 10, or 12 turns, or no limit.</li>
                                <li><b>Board Size:</b> recommended <i>Standard Size</i> of <b>3' x 3'</b></li>
                                <li><b>Army Size:</b> players choose, a good starter is 1000pts or 4-6 models.</li>
                                <li><b>Win Condition:</b> <i>Standard Attrition</i>.</li>
                                <li><b>Deployment Stye:</b> <i>Standard</i>.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-6 col-6 col-l-6 offset-s-1 offset-1">
                            <h4>Setup</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1">
                            <ul class="sectionOrderList">
                                <li>Players mark out the 3'x3' playing area.</li>
                                <li>Players build their army lists.</li>
                                <li>Add terrain as desired to the play area.
                                    <ul>
                                        <li>Make sure to agree on the properties as seen under <i>Terrain Rules(Core rulebook).</i></li>
                                    </ul>
                                </li>
                                <li>Players then determine who will setup their forces first, the player that does receives a <b>+2 INI</b> to their <i>Initiative</i> roll on <b>Turn 1</b>.</li>
                                <li>Each Player sets up their entire army opposite the other player, using the entire length of their board edge.
                                    <ul>
                                        <li>Players may deploy units <b>no more than 6"</b> from their <i>Board Edge</i>.</li>
                                    </ul>
                                </li>
                                <li>Once setup is complete, set a marker for turn-counting and begin the game!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===============================================================================================================-->
       <!-- STANDARD DEFENSE ===========================================================================================-->
        <div class="row">
            <div class="col-s-12 col-12 col-l-12">
                <div class="container sectionPanel">
                    <div class="row">
                        <div class="col-s-6 col-6 col-l-6 offset-s-1 offset-1">
                            <h3>Defensive Line</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-8 col-8 col-l-8 offset-s-2 offset-2 offset-l-2">
                            <p>One Army has been building up its forces, biding its time for the offensive...</p>
                            <p>the other has been constructing and preparing defenses, hoping to stop the incursion at the first line of defense.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-8 col-8 col-l-8 offset-s-2 offset-2 offset-l-2">
                            <ul class="sectionOrderList">
                                <li><b>Game Length:</b> 10 turns or player choice.</li>
                                <li><b>Board Size:</b> recommended <i>Standard Size</i> of <b>3' x 3'</b></li>
                                <li><b>Army Size:</b> players choose, a good starter is 1000pts or 4-6 models.</li>
                                <li><b>Win Condition:</b> <i>Local Objectives</i>.</li>
                                <li><b>Deployment Stye:</b> <i>Standard Offensive</i>.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-6 col-6 col-l-6 offset-s-1 offset-1">
                            <h4>Setup</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1">
                            <ul class="sectionOrderList">
                                <li>First players decide who is the Attacker, and who is the Defender.</li>
                                <li>Players mark out the 3'x3' playing area.</li>
                                <li>Players build their army lists.</li>
                                <li>Add terrain as desired to the play area.
                                    <ul>
                                        <li>Make sure to agree on the properties as seen under <i>Terrain Rules(Core rulebook).</i></li>
                                    </ul>
                                </li>
                                <li>Players then determine who will setup their forces first, the player that does receives a <b>+2 INI</b> to their <i>Initiative</i> roll on <b>Turn 1</b>.</li>
                                <li>Each Player sets up their entire army opposite the other player, using the entire length of their board edge.
                                    <ul>
                                        <li>Players may deploy units <b>no more than 6"</b> from their <i>Board Edge</i>.</li>
                                    </ul>
                                </li>
                                <li>Once setup is complete, set a marker for turn-counting and begin the game!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===============================================================================================================-->




        <!-- Win conditions ===========================================================================================-->
        <div class="row">
            <div class="col-s-12 col-12 col-l-12">
                <div class="container sectionPanel">
                    <div class="row">
                        <div class="col-s-8 col-8 col-l-8 offset-s-1 offset-1">
                            <h3>Win Condition types</h3>
                            <p></p>
                        </div>
                        <div class="col-s-10 col-10 col-l-10 offset-s-1 offset-1 offset-l-1">
                            <ul class="sectionOrderList">
                                <li>Standard Attrition</li>
                                <li>Local Objectives</li>
                                <li>Forced Withdrawal</li>
                                <li>Headhunters</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===============================================================================================================-->
    </div>  
</body>
</html>