<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>LANDWAR GDK v0.4.0</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <!-- <link rel="stylesheet" href="../../../../css/base_responsive.css"/> -->
    <link rel="stylesheet" href="../../../../../node_modules/furtive/css/furtive.min.css">
    <link rel="stylesheet" href="../../../../css/styles.css"/>
    <link rel="stylesheet" href="../../../../css/pages/rulebook/rulebook.css"/>
</head>
<body>
    <div class="grd">
        <div class="grd-row">
            <div class="grd-row-col-6">
                <div class="grd">
                    <div class="grd-row">
                            <div class="grd-row-col-6 txt--center">
                                <h3><u>Unit Builder System</u></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grd-row">
            <div class="grd-row-col-6">
                <p>The following is for designing your own custom units in <i>LANDWAR</i>. You will assign stats to fill in the Unit Info card, then determine the total points cost for the unit. <i>TAGS</i> are <b>optional upgrades</b> that you can apply <i>after</i> the unit's base stats are set up.
                    We strongly recommend just getting the official <i>LANDWAR</i> app, it has a Unit editor that will do all the cost calculations for you along with TAG choices and their costs.
                </p>
            </div>
        </div>

        <div class="grd-row">
            <div class="grd-row-col-3-6">
                <div class="grd">
                    <div class="grd-row">
                        <div class="grd-row-col-6 subsectionPanel">
                            <label class="ruleTitle"><u>Size</u></label>
                            <p><b>Cost = </b> (<i>Size Value</i> / 3)</p>
                            <ul class="sectionOrderList">
                                <li>Size influences several other core stats, such as Movement, and Armor.</li>
                                <li>Additionally, Size plays a key role in several TAG costs as well.</li>
                                <li>Smaller size units pay less for movement but more for armor.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grd-row">
                        <div class="grd-row-col-6 subsectionPanel">
                            <label class="ruleTitle"><u>Evade</u></label>
                            <p><b>Cost = </b> ((<i>Size Value</i> / 1.5) * <i>Evade Value</i>) + (<i>Move Value</i> / 2).</p>
                            <ul class="sectionOrderList">
                                <li>Evade points are generated per-turn <b>when</b> a Unit moves <b>25% or more</b> of their total <i>Move Value</i>.</li>
                                <li>Evade points are spent in the <i>Combat Phse</i> to boost <b>DEF</b> dice rolls, by increasing the roll result.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grd-row">
                        <div class="grd-row-col-6 subsectionPanel">
                            <label class="ruleTitle"><u>Damage-Range</u></label>
                            <p><b>Cost = </b> (<i>DMG-Range</i> * 4)</p>
                            <ul class="sectionOrderList">
                                <li>Amount of <b>DMG</b> a Unit will deal when attacking at range.</li>
                                <li>Primary attack type of the game, most units will have a ranged attack of some type.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grd-row">
                        <div class="grd-row-col-6 subsectionPanel">
                            <label class="ruleTitle"><u>Damage-Melee</u></label>      
                            <p><b>Cost = </b> (<i>DMG-Melee</i> / 2) + (<i>Move Value</i> / 4).</p>
                            <ul class="sectionOrderList">
                                <li>Amount of <b>DMG</b> a Unit will deal when attacking in <i>Melee Range(0-1")</i>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grd-row-col-3-6">
                <div class="grd">
                    <div class="grd-row">
                        <div class="grd-row-col-6 subsectionPanel">
                            <label class="ruleTitle"><u>Move</u></label>
                            <p><b>Cost = </b> (<i>Size Value</i> + <i>Move Value</i>) / 2.</p>
                            <ul class="sectionOrderList">
                                <li>Movement value is the total inches a unit can move per-turn.</li>
                                <li>Movement also determines a Unit's <i>Initiaitve Order</i>, when during the <i>Move Phase</i> that they will activate.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grd-row">
                        <div class="grd-row-col-6 subsectionPanel">
                            <label class="ruleTitle"><u>Armor</u></label>
                            <p><b>Cost part 1 = </b> (33%  <i>Armor Value</i> ) * 2</p>
                            <p><b>Cost part 2 = </b> (<i>Armor  Value</i> - 33%) * 4</p>
                            <p><b>Sub total = </b> (<i>part 1</i> + <i> part 2</i>) - (<i>Size</i> / 2).</p>
                            <ul class="sectionOrderList">
                                <li>Armor is the primary health pool of every unit in the game.</li>
                                <li>Units suffer additional stress when Armor is below 50% of its starting value.</li>
                                <li>Larger size units pay less for armor.</li>
                                <li>Cost is weighted, the cost can be 0 but not negative!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="grd-row">
                        <div class="grd-row-col-6 subsectionPanel">
                            <label class="ruleTitle"><u>Effective Range</u></label>
                            <p><b>Cost = </b> (<i>Move</i> / 2) + (<i>Range</i> - 16) + (<i>DMG-Ranged</i> / 2).</p>
                            <ul class="sectionOrderList">
                                <li>Effective Range is in inches.</li>
                                <li>Effective Range is the range where targets will <b>not</b> gain <i>Long Range</i> defensive bonus.</li>
                                <li><i>LANDWAR</i> does not have finite range limit, merely the 'best range' a unit attacks at.</li>
                                <li>Cost is weighted to 16" being the default attack range, the cost can be 0 but not negative!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grd-row sectionPanel">
            <div class="grd-row-col-6 txt--center">Now take all the costs and total them up, this gives you the <b>Base Cost</b> of a unit in <i>LANDWAR</i>.</div>
        </div>
    </div>
</body>