<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>LANDWAR GDK v0.1.1</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="../../../../css/base_responsive.css"/>
    <link rel="stylesheet" href="../../../../css/styles.css"/>
    <link rel="stylesheet" href="../../../../css/pages/rulebook/rulebook.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-s-6 col-5 col-l-4 offset-s-3 offset-2 offset-l-1">
                <h2>Quick Play guide</h2>
            </div>
        </div>
    </div>
</body>
</html>